<tr>
<%# <td><%= check_box "itemcheck", "#{list.item.id}" %><%# </td> %>
  <td><% if list.item.image.attached? %>
        <%= link_to image_tag(list.item.image, class: :card__img ), note_item_path(id: list.item.id)  %>
      <% else %>
        <%= image_tag '/images/noimg.png' %>
      <% end %></td>
  <td><%= "#{list.item.name}" %></td>
  <td><%= "#{list.item.price}" %></td>
  <td><%= "#{list.item.count}" %></td>
  <td><%= "#{list.item.condition}" %></td>
  <td><%= "#{list.item.memo}" %></td>
<%#  <td><%= link_to '詳細', note_list_path(id: list.id) %><%# </td> %>
  <td><%= link_to '完了', note_list_path(id: list.id), method: :patch %></td>
  <td><%= link_to '取消', note_list_path(id: list.id), method: :delete, data: { confirm: 'Are you sure?' } %></td>
<tr>
