<div class="inner">
  <div class="overflow">
  <h1 id="top"><%= "#{@note.title}のメッセージ" %></h1>
    <div id='messages' data-note_id="<%= @note.id %>">
      <%= render @messages %>
    </div>
  </div>
  <%= label_tag :content, 'メッセージを入力:' %>
  <%= text_field_tag :content, nil, data: { behavior: 'note_speaker' } %>
</div>
