<% if user_signed_in? %>
  <div class="card">
    <div class="card__body">
    <p class="card__summary"><%= note.title %></p>
      <div class="card__title"></div>
        <%= link_to "#{note.list_name}", note_lists_path(note.character), class: :card__title%>
        <%= link_to "#{note.item_name}", note_items_path(note.character), class: :card__title%>
        <%= link_to "#{note.log_name}", note_logs_path(note.character), class: :card__title%>
        <%= link_to "#{note.reserve_name}", note_reserves_path(note.character), class: :card__title%>
        <%= link_to "メッセージ", note_messages_path(note.character), class: :card__title%>
        <%= link_to "所有者 #{note.owner_name}", root_path, class: :card__user %>
<%
=begin
%>
        <% if note.owner == current_user.id %>
        <div class="prototype__manage">
          <%= link_to "編集", root_path, class: :nav__btn %>
          <%= link_to "削除", root_path, class: :nav__btn %>
          </div>
      <% end %>
<%
=end 
%>
    </div>
  </div>
<% end %>