<div class="inner">
  <h1 id="top"><%= "#{@note.title}の招待ページ" %></h1>
  <br>
  <div class="page-heading">
  <p>「ノートに参加」ページで以下の情報を入力してください。</p>
  <br>
    <table><tr>
        <td colspan="2"></td>
      </tr></tr>
        <td>ID</td>
        <td><%= "#{@note.character.slice(0..3)} #{@note.character.slice(4..7)} #{@note.character.slice(8..11)}" %></td>
      </tr><tr>
        <td>PASS</td>
        <td><%= "#{@note.password.slice(0..2)} #{@note.password.slice(3..5)}" %></td>
      </tr>
    </table>
    <br>
    <p>以下のURL・QRコードからもアクセス可能です。</p>
    <br>
    <%= qrcode "http://6ager.com/guides/new?id=#{@note.character}&pass=#{@note.password}", {size: 6,  level: :h} %><br>
    <%= "http://6ager.com/guides/new?id=#{@note.character}&pass=#{@note.password}" %>
  </div>
</div>
