<tr>
<%# <td><%= check_box "itemcheck", "#{item.name}" %><%# </td> %>
  <td><% if item.image.attached? %>
        <%= link_to image_tag(item.image, class: :card__img ), root_path  %>
      <% else %>
        <%= image_tag '/images/noimg.png' %>
      <% end %></td>
  <td><%= "#{item.name}" %></td>
  <td><%= "#{item.price}" %></td>
  <td><%= "#{item.count}" %></td>
  <td><%= "#{item.condition}" %></td>
  <td><%= "#{item.memo}" %></td>
  <td><%= link_to '詳細', note_item_path(id: item.id) %></td>
  <td><%= link_to '編集', edit_note_item_path(id: item.id) %></td>
  <td><%= link_to '削除', note_item_path(id: item.id), method: :delete, data: { confirm: 'Are you sure?' } %></td>
<tr>
