<main class="main bg_gray">
  <div class="contents row">
    <div class="container no_opacity">
      <div class="prototype__image">
        <% if @item.image.attached? %>
          <%= link_to @item.image, 'data-lightbox': @item.image do %>
            <%= image_tag(@item.image) %>
          <% end %>
        <% else %>
          <%= image_tag "/images/noimg.png" %>
        <% end %>
      </div>
      <p class="prototype__hedding margin">
        <%= @item.name %>
      </p>
      <div class="prototype__body">
        <div class="prototype__detail">
          <p class="detail__title"><%= "金額：#{@item.price}" %></p>
          <p class="detail__title"><%= "個数：#{@item.count}" %></p>
          <p class="detail__title"><%= "条件：#{@item.condition}" %></p>
          <p class="detail__title"><%= "備考：#{@item.memo}" %></p>
          </p>
        </div>
      </div>
    </div>
              <%= link_to :back do %>
            <input type="submit" value="戻る" class="form__btn margin">
          <% end %>
  </div>
</main>