<main class="main bg_gray">
  <div class="contents row">
    <div class="container no_opacity">
      <p class="prototype__hedding margin">
        <%= @log.name %>
      </p>
      <div>
        <table>
          <tr>
            <td colspan="2"></td>
          </tr><tr> 
          <tr>
            <td><p class="detail__title"><%= "購入日時" %></p></td>
            <td><p class="detail__title"><%= l @log.created_at %></p>
          </tr><tr>
            <td><p class="detail__title"><%= "購入者" %></p></td>
            <td><p class="detail__title"><%= @log.buyer %></p></td>
          </tr><tr>
            <td><p class="detail__title"><%= "購入価格" %></p></td>
            <td><p class="detail__title"><%= @log.price %></p></td>
          </tr><tr>
            <td><p class="detail__title"><%= "購入個数" %></p></td>
            <td><p class="detail__title"><%= @log.count %></p></td>
          </tr><tr>
            <td><p class="detail__title"><%= "購入条件" %></p></td>
            <td><p class="detail__title"><%= @log.condition %></p></td>
          </tr><tr>
            <td><p class="detail__title"><%= "備考" %></p></td>
            <td><p class="detail__title"><%= @log.memo %></p></td>
          </tr>
        </table>
      </div>
    </div>
    <%= link_to :back do %>
      <input type="submit" value="戻る" class="form__btn">
    <% end %>
  </div>
</main>
